{% extends "base.html" %}
{% block main %}
<div class="row">

    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="mb-3">직업별 직무 만족도 </h4>
                <canvas id="sales-chart"></canvas>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="mb-3">현존직업 관련 연봉(상위5개) </h4>
                <canvas id="team-chart"></canvas>
            </div>
        </div>
    </div>

    <div class="col-lg-6" >
        <div class="card">
            <div class="card-body">
                <h4 class="mb-3">직업 안정성(상위 5개) </h4>
                <canvas id="barChart"></canvas>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="mb-3">5년 이내 사라질 비율이 높은 직업(상위5개) </h4>
                <canvas id="radarChart"></canvas>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="mb-3">채용 계획 인원이 많은 직업(상위5개) </h4>
                <canvas id="lineChart"></canvas>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="mb-3">미충원율이 높은 직종의 사유(상위 5개) </h4>
                    <canvas id="doughutChart"></canvas>
                </div>
            </div>
        </div>

    </div>

    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="mb-3">Pie Chart </h4>
                <canvas id="pieChart"></canvas>
            </div>
        </div>
    </div>

</div>
{% endblock %}